:root {
  --header-border-color: #ECECEC;
  --portfolio-samples-border-color: #EEEEEE;
  --primary-text-color: #757575;
  --title-color: #212121;
  --accent-color: #2196F3;
  --background-color-hero: #C4C4C4;
  --color-white: #FFFFFF;
  --background-color-light: #F5F4FA;
  --bacground-color-dark: #2F303A;
  --icons-color: #AFB1B8;
  --color-black: #000;
  --button-active-color: #188CE8;
  --footer-contacts-color: rgba(255, 255, 255, 0.6);
}

.visually-hidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  margin: -1px;
}

ul {
  list-style: none;
  padding-left: 0;
  margin-top: 0;
  margin-bottom: 0;
}

h1,
h2,
h3,
p {
  margin-top: 0;
  margin-bottom: 0;
}

button {
  cursor: pointer;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

body {
  font-size: 14px;
  font-family: "Roboto", sans-serif;
  letter-spacing: 0.03em;
  color: var(--primary-text-color);
  background-color: var(--primary-white-color);
}

.logo {
  font-weight: 700;
  font-size: 26px;
  line-height: 1.1923076923;
  font-family: Raleway, sans-serif;
  letter-spacing: 0.03em;
  color: var(--accent-color);
  text-decoration: none;
}

.contacts-list {
  display: flex;
}

.contacts-list__link {
  color: currentColor;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  text-decoration: none;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.contacts-list__link:hover, .contacts-list__link:focus {
  color: var(--accent-color);
}

@media screen and (max-width: 1200px) {
  .section {
    padding-top: 60px;
    padding-bottom: 60px;
  }
}
@media screen and (min-width: 1200px) {
  .section {
    padding-top: 94px;
    padding-bottom: 94px;
  }
}
.container {
  padding-left: 15px;
  padding-right: 15px;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
}

@media screen and (min-width: 480px) {
  .container {
    width: 480px;
  }
}
@media screen and (min-width: 768px) {
  .container {
    width: 768px;
  }
}
@media screen and (min-width: 1200px) {
  .container {
    width: 1200px;
  }
}
.subtitle {
  color: var(--title-color);
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;
}

.title {
  color: var(--title-color);
  text-align: center;
}

@media screen and (max-width: 1199px) {
  .title.visible {
    margin-bottom: 30px;
  }
}
@media screen and (min-width: 1200px) {
  .title.visible {
    margin-bottom: 50px;
  }
}
@media screen and (max-width: 1199px) {
  .title {
    font-weight: 700;
    font-size: 28px;
    line-height: 1.1785714286;
  }
}
@media screen and (min-width: 1200px) {
  .title {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.1666666667;
  }
}
.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.2);
  z-index: 100;
  opacity: 1;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.backdrop.is-hidden {
  opacity: 0;
  pointer-events: none;
  visibility: hidden;
}
.backdrop.is-hidden .modal {
  transform: translate(-50%, -50%) scale(0.9);
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  padding: 40px;
  height: 609px;
  background-color: var(--color-white);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
}

.modal__close-button {
  position: absolute;
  top: 8px;
  right: 8px;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 30px;
  width: 30px;
  border-radius: 50%;
  border: 1px solid rgba(0, 0, 0, 0.1);
  background-color: transparent;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal__close-button:hover, .modal__close-button:focus {
  fill: var(--accent-color);
}

@media screen and (max-width: 1199px) {
  .modal {
    max-width: 450px;
    width: 100%;
    height: 609px;
  }
}
@media screen and (min-width: 1200px) {
  .modal {
    width: 528px;
    height: 581px;
  }
}
.form {
  display: flex;
  flex-direction: column;
}

.form__title {
  font-family: "Roboto";
  font-weight: 700;
  font-size: 20px;
  line-height: 1.15;
  text-align: center;
  color: var(--title-color);
  margin-bottom: 12px;
}

.form__label-name {
  display: block;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.01em;
  margin-bottom: 4px;
}

.form__label {
  margin-bottom: 10px;
}

.form__field-wrapper {
  position: relative;
  display: block;
}

.form__input {
  width: 100%;
  height: 40px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  padding-left: 42px;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.form__input:focus {
  outline: none;
  border-color: var(--accent-color);
}

.form__icon {
  position: absolute;
  top: 50%;
  left: 12px;
  transform: translateY(-50%);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.form-input:focus + .form__icon {
  fill: var(--accent-color);
}

.form__comment {
  display: block;
  width: 100%;
  height: 120px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  resize: none;
  padding: 12px 16px;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.form__comment:focus {
  outline: none;
  border-color: var(--accent-color);
}

.form__label_comment {
  margin-bottom: 20px;
}

.form__comment::placeholder {
  color: rgba(117, 117, 117, 0.5);
}

.form__label-checkbox {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 30px;
}

.form__checkbox-wrapper {
  position: relative;
  margin-right: 7px;
}

.form__check-icon {
  fill: var(--accent-color);
  border-radius: 2px;
  opacity: 0;
  position: absolute;
  top: 0;
  left: 0;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.form__input-check:checked + .form__check-icon {
  opacity: 1;
}

.form__uncheck-icon {
  fill: var(--title-color);
}

.form__checkbox-link {
  color: var(--accent-color);
}

.form__button {
  align-self: center;
  padding: 10px 52px;
}

@media screen and (max-width: 1199px) {
  .form__label-checkbox {
    font-weight: 400;
    font-size: 12px;
    line-height: 1.1666666667;
  }
}
@media screen and (min-width: 1200px) {
  .form__label-checkbox {
    font-weight: 400;
    font-size: 14px;
    line-height: 1.7142857143;
  }
}
@media screen and (max-width: 767px) {
  .mobile-menu {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 100;
    width: 100%;
    height: 100%;
    background-color: var(--color-white);
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
    transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  .mobile-menu.is-open {
    opacity: 1;
    visibility: visible;
    pointer-events: auto;
  }
  .mobile-menu__container {
    position: relative;
    padding-left: 40px;
    padding-top: 48px;
    padding-bottom: 48px;
  }
  .mobile-menu__close-btn {
    position: absolute;
    top: 10px;
    right: 15px;
    line-height: 0;
    background-color: transparent;
    border: none;
    padding: 0;
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  .mobile-menu__close-btn:hover, .mobile-menu__close-btn:focus {
    fill: var(--accent-color);
  }
  .mobile-menu__nav-list {
    display: flex;
    flex-direction: column;
    gap: 32px;
    margin-bottom: 306px;
  }
  .mobile-menu__nav-link {
    font-weight: 500;
    font-size: 40px;
    line-height: 1.175;
    font-family: "Roboto", sans-serif;
    letter-spacing: 0.02em;
    text-decoration: none;
    color: var(--title-color);
  }
  .mobile-menu__nav-link:hover, .mobile-menu__nav-link:focus {
    color: var(--accent-color);
  }
  .mobile-menu__contacts-list {
    display: flex;
    flex-direction: column;
    gap: 32px;
    margin-bottom: 64px;
  }
  .mobile-menu__contacts-list-link {
    font-weight: 500;
    font-size: 24px;
    line-height: 1.1666666667;
    font-family: "Roboto", sans-serif;
    letter-spacing: 0.02em;
    text-decoration: none;
    color: var(--primary-text-color);
  }
  .mobile-menu__contacts-list-link_accent {
    color: var(--accent-color);
  }
  .mobile-menu__media {
    display: flex;
  }
  .mobile-menu__media li:not(:last-child) {
    border-right: 1px solid rgba(33, 33, 33, 0.2);
  }
  .mobile-menu__media-link {
    font-weight: 500;
    font-size: 18px;
    line-height: 1.2222222222;
    font-family: "Roboto", sans-serif;
    letter-spacing: 0.02em;
    color: var(--accent-color);
    padding-right: 10px;
    padding-left: 10px;
  }
}
@media screen and (min-width: 768px) {
  .mobile-menu {
    display: none;
  }
}
.button {
  color: var(--color-white);
  background-color: var(--accent-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  border: none;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.875;
  font-family: Roboto, sans-serif;
  letter-spacing: 0.06em;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.button:hover, .button:focus {
  background: var(--button-active-color);
}

.media-list {
  display: flex;
  column-gap: 10px;
}

.media-list__item {
  width: 44px;
  height: 44px;
}

.media-list__link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.subcsription-form {
  display: flex;
  align-items: center;
}

.subcsription-form__input {
  display: block;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.25;
  color: rgba(255, 255, 255, 0.6);
  background-color: var(--bacground-color-dark);
  border: 1px solid rgba(255, 255, 255, 0.3);
  border-radius: 4px;
}

.subcsription-form__button {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 200px;
  height: 50px;
  padding: 10px 28px;
}

.subcsription-form__btn-title {
  margin-right: 10px;
}

.subcsription-form__btn-icon {
  fill: var(--color-white);
}

@media screen and (max-width: 1199px) {
  .subscription {
    max-width: 450px;
    width: 100%;
  }
  .subcsription-form {
    flex-direction: column;
  }
  .subcsription-form__input {
    padding: 15px 16px;
    margin-bottom: 20px;
    width: 100%;
  }
}
@media screen and (min-width: 1200px) {
  .subcsription-form__input {
    padding: 15px 16px;
    width: 358px;
    margin-right: 12px;
  }
}
.page-header {
  background-color: var(--color-white);
  background-color: var(--color-white);
  border-bottom: 1px solid var(--header-border-color);
}

.logo__logo-header {
  color: var(--color-black);
}

.page-nav {
  display: flex;
  align-items: center;
}

@media screen and (max-width: 767px) {
  .nav-list,
.page-header__contacts-list {
    display: none;
  }
  .open-mobile-menu-btn {
    border: none;
    background-color: transparent;
    line-height: 0;
    padding: 10px 0;
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  .open-mobile-menu-btn:hover, .open-mobile-menu-btn:focus {
    fill: var(--accent-color);
  }
  .page-nav {
    justify-content: space-between;
  }
}
@media screen and (min-width: 768px) {
  .open-mobile-menu-btn {
    display: none;
  }
  .page-header__container {
    display: flex;
    align-items: center;
  }
  .nav-list {
    display: flex;
    margin-left: 87px;
    gap: 50px;
  }
  .nav-list__link {
    position: relative;
    display: block;
    padding-top: 32px;
    padding-bottom: 32px;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    text-decoration: none;
    color: var(--title-color);
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  .nav-list__link:hover, .nav-list__link:focus {
    color: var(--accent-color);
  }
  .nav-list__link_current {
    color: var(--accent-color);
  }
  .nav-list__link_current::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: -1px;
    display: block;
    width: 100%;
    height: 4px;
    background-color: var(--accent-color);
    border-radius: 2px;
  }
  .page-header__contacts-list {
    margin-left: auto;
    display: flex;
    flex-direction: column;
    gap: 10px;
  }
}
@media screen and (min-width: 1200px) {
  .page-header__contacts-list {
    display: flex;
    flex-direction: row;
    gap: 30px;
  }
  .page-header__contacts-link {
    display: flex;
    align-items: center;
    column-gap: 10px;
    padding-top: 32px;
    padding-bottom: 32px;
  }
  .page-header__contacts-icon {
    fill: currentColor;
  }
}
.hero {
  background-color: var(--background-color-hero);
  text-align: center;
  background-size: cover;
  margin-right: auto;
  margin-left: auto;
}

@media screen and (max-width: 767px) {
  .hero {
    padding-top: 118px;
    padding-bottom: 118px;
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../images/bg.images/bg-mobile.jpg");
    max-width: 480px;
    height: 400px;
  }
}
@media screen and (min-device-pixel-ratio: 2) and (max-width: 767px), screen and (min-resolution: 192dpi) and (max-width: 767px), screen and (min-resolution: 2dppx) and (max-width: 767px) {
  .hero {
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../images/bg.images/bg-mobile@2x.jpg");
  }
}
.hero__title {
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 30px;
  color: var(--color-white);
  letter-spacing: 0.06em;
  text-transform: uppercase;
}

@media screen and (max-width: 767px), screen and (min-width: 768px) {
  .hero__title {
    max-width: 360px;
    font-weight: 900;
    font-size: 26px;
    line-height: 1.6153846154;
  }
  .hero__button_padding {
    padding: 10px 24px;
  }
}
@media screen and (min-width: 768px) {
  .hero {
    padding-top: 118px;
    padding-bottom: 118px;
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../images/bg.images/bg-tablet.jpg");
    max-width: 768px;
    height: 400px;
  }
}
@media screen and (min-device-pixel-ratio: 2) and (min-width: 768px), screen and (min-resolution: 192dpi) and (min-width: 768px), screen and (min-resolution: 2dppx) and (min-width: 768px) {
  .hero {
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../images/bg.images/bg-tablet@2x.jpg");
  }
}
@media screen and (min-width: 1200px) {
  .hero {
    padding-top: 200px;
    padding-bottom: 200px;
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../images/bg.images/bg.jpg");
    max-width: 1600px;
    height: 600px;
  }
}
@media screen and (min-device-pixel-ratio: 2) and (min-width: 1200px), screen and (min-resolution: 192dpi) and (min-width: 1200px), screen and (min-resolution: 2dppx) and (min-width: 1200px) {
  .hero {
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../images/bg.images/bg@2x.jpg");
  }
}
@media screen and (min-width: 1200px) {
  .hero__title {
    max-width: 696px;
    font-weight: 900;
    font-size: 44px;
    line-height: 1.3636363636;
  }
  .hero__button_padding {
    padding: 10px 32px;
  }
}
.section-benefits {
  background-color: var(--color-white);
}

.benefits-list {
  display: flex;
  gap: 30px;
}

.benefits-list__icon-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 120px;
  width: 100%;
  background-color: var(--background-color-light);
  border-radius: 4px;
  margin-bottom: 30px;
}

.benefits-list__subtitle {
  margin-bottom: 10px;
}

.benefits-list__description {
  font-size: 14px;
  line-height: 1.71;
}

@media screen and (max-width: 767px) {
  .benefits-list {
    flex-direction: column;
  }
  .benefits-list__item {
    flex-basis: 100%;
  }
  .benefits-list__subtitle {
    text-align: center;
  }
}
@media screen and (min-width: 768px) {
  .benefits-list {
    flex-direction: row;
    flex-wrap: wrap;
  }
  .benefits-list__item {
    flex-basis: calc((100% - 30px) / 2);
  }
}
@media screen and (min-width: 1200px) {
  .section-benefits {
    padding-bottom: 0;
  }
  .benefits-list {
    flex-direction: row;
    flex-wrap: nowrap;
  }
  .benefits-list__item {
    flex-basis: calc((100% - 90px) / 4);
  }
}
@media screen and (max-width: 1199px) {
  .section-activity {
    display: none;
  }
}
@media screen and (min-width: 1200px) {
  .section-activity {
    background-color: var(--color-white);
  }
  .activity-list {
    display: flex;
    gap: 30px;
  }
  .activity-list__thumb {
    position: relative;
  }
  .activity-list__overlay {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(47, 48, 58, 0.8);
    width: 100%;
    height: 70px;
    bottom: 0;
  }
  .activity-list__subtitle {
    color: var(--color-white);
    margin: 0;
  }
}
.section-team {
  background-color: var(--background-color-light);
}

.team-list {
  display: flex;
  gap: 30px;
}

.team-list__item {
  background-color: var(--color-white);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}

.team-list__meta {
  text-align: center;
}

.team-list__member-name {
  margin-bottom: 10px;
  color: var(--title-color);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.1875;
}

.team-list__member-position {
  font-size: 16px;
  line-height: 1.19;
  margin-bottom: 16px;
}

.media-list__link_theme_light {
  background-color: var(--color-white);
  fill: var(--icons-color);
}
.media-list__link_theme_light:hover, .media-list__link_theme_light:focus {
  background-color: var(--accent-color);
  fill: var(--color-white);
}

@media screen and (max-width: 767px) {
  .team-list {
    flex-direction: column;
  }
  .team-list__meta {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 30px;
    padding-bottom: 24px;
  }
}
@media screen and (min-width: 768px) {
  .team-list {
    flex-wrap: wrap;
    flex-basis: calc((100% - 30px) / 2);
  }
  .team-list__meta {
    padding: 30px 74px 24px 74px;
  }
}
@media screen and (min-width: 1200px) {
  .team-list {
    flex-basis: calc((100% - 90px) / 4);
  }
  .team-list__meta {
    padding: 30px;
  }
}
.clients-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 30px;
}

.clients-list__link {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid var(--icons-color);
  border-radius: 4px;
  width: 100%;
  height: 100%;
  fill: var(--icons-color);
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1), fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.clients-list__link:hover, .clients-list__link:focus {
  border-color: var(--accent-color);
  fill: var(--accent-color);
}

@media screen and (max-width: 767px) {
  .clients-list__item {
    width: 210px;
    height: 92px;
  }
}
@media screen and (min-width: 768px) {
  .clients-list__item {
    width: 226px;
    height: 92px;
  }
}
@media screen and (min-width: 768px) {
  .clients-list__item {
    width: 170px;
    height: 92px;
  }
}
.page-footer {
  background-color: var(--bacground-color-dark);
  padding-top: 60px;
  padding-bottom: 60px;
}

.page-footer__container {
  display: flex;
}

.contacts-media-wrapper {
  display: flex;
}

.contacts-wrapper__logo {
  display: block;
  margin-bottom: 20px;
}

.logo__logo-footer {
  color: var(--color-white);
}

.contacts-wrapper__address {
  display: flex;
  flex-direction: column;
  gap: 9px;
}

.contacts_wrapper__contacts-list {
  flex-direction: column;
  gap: 9px;
}

.contacts_wrapper__link {
  color: var(--footer-contacts-color);
  font-style: normal;
  line-height: 1.71;
  font-weight: 400;
  letter-spacing: 0.03em;
}

.contacts_wrapper__address-link {
  color: var(--color-white);
  text-decoration: none;
  font-style: normal;
}

.contacts_wrapper__address {
  color: var(--footer-contacts-color);
  line-height: 1.71;
  font-weight: 400;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.contacts_wrapper__address:hover, .contacts_wrapper__address:focus {
  color: var(--accent-color);
}

.join-us__subtitle,
.subscription__subtitle {
  color: var(--color-white);
  margin-bottom: 20px;
}

.media-list__link_theme_dark {
  fill: var(--color-white);
  background-color: rgba(255, 255, 255, 0.1);
}
.media-list__link_theme_dark:hover, .media-list__link_theme_dark:focus {
  background-color: var(--accent-color);
}

@media screen and (max-width: 767px) {
  .page-footer__container {
    flex-direction: column;
    gap: 60px;
    align-items: center;
  }
  .contacts-media-wrapper {
    flex-direction: column;
    gap: 60px;
    align-items: center;
  }
  .contacts-wrapper__logo {
    text-align: center;
  }
  .contacts-wrapper__address {
    align-items: center;
  }
  .contacts_wrapper__contacts-list {
    align-items: center;
  }
  .join-us__subtitle,
.subscription__subtitle {
    text-align: center;
  }
}
@media screen and (min-width: 768px) and (max-width: 1199px) {
  .page-footer__container {
    flex-direction: column;
    gap: 60px;
    align-items: center;
  }
  .contacts-media-wrapper {
    justify-content: space-between;
    width: 100%;
  }
  .join-us__subtitle,
.subscription__subtitle {
    text-align: center;
  }
}
@media screen and (min-width: 1200px) {
  .page-footer__container {
    align-items: baseline;
    gap: 93px;
  }
  .contacts-media-wrapper {
    align-items: baseline;
    gap: 70px;
  }
}
.section.portfolio {
  color: var(--title-color);
}

.filter-list {
  display: flex;
  column-gap: 8px;
  margin-bottom: 50px;
}

.filter-link {
  display: block;
  padding: 6px 22px;
  background-color: var(--background-color-light);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  letter-spacing: 0.03em;
  text-align: center;
  border-radius: 4px;
  border: none;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), color 250ms cubic-bezier(0.4, 0, 0.2, 1), box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.filter-link:hover, .filter-link:focus {
  background-color: var(--accent-color);
  color: var(--color-white);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
}

.filter-link.wider {
  padding-left: 25px;
  padding-right: 25px;
}

.portfolio-samples {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
}
.portfolio-samples h2 {
  margin-bottom: 4px;
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
}

.sample-card {
  text-decoration: none;
  color: currentColor;
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.sample-card:hover, .sample-card:focus {
  display: block;
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
}

.project-thumb {
  position: relative;
  overflow: hidden;
}

.img-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  padding: 63px 24px;
  background-color: rgba(33, 150, 243, 0.9);
  overflow: auto;
  z-index: -1;
  transform: translateY(100%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1), z-index 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.sample-card:hover .img-overlay, .sample-card:focus .img-overlay {
  transform: translateY(0);
  z-index: 1;
}

.img-description {
  color: var(--color-white);
  font-size: 18px;
  line-height: 1.56;
}

.sample-description {
  display: flex;
  flex-direction: column;
  padding: 20px 24px;
  border-left: 1px solid var(--portfolio-samples-border-color);
  border-right: 1px solid var(--portfolio-samples-border-color);
  border-bottom: 1px solid var(--portfolio-samples-border-color);
}

.sample-type {
  color: var(--primary-text-color);
  font-size: 16px;
  line-height: 1.88;
}

@media screen and (max-width: 767px) {
  .portfolio-samples .item {
    width: 100%;
  }
}
@media screen and (max-width: 1199px) {
  .filter-list {
    flex-wrap: wrap;
    row-gap: 15px;
  }
}
@media screen and (min-width: 768px) {
  .portfolio-samples .item {
    flex-basis: calc((100% - 30px) / 2);
  }
}
@media screen and (min-width: 1200px) {
  .filter-list {
    justify-content: center;
  }
  .portfolio-samples .item {
    flex-basis: calc((100% - 60px) / 3);
  }
}/*# sourceMappingURL=main.css.map */