@media screen and (max-width:1199px) {
    .section-activity {
        display: none;
    }
}

@media screen and (min-width:1200px) {
.section-activity {
    background-color: var(--color-white);
}

.activity-list {
    display: flex;
    gap: 30px;
}

.activity-list__thumb {
    position: relative;
}


.activity-list__overlay {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(47, 48, 58, 0.8);
    width: 100%;
    height: 70px;
    bottom: 0;
}

.activity-list__subtitle {
    color: var(--color-white);
    margin: 0;
}
}