.section.portfolio {
    color: var(--title-color);
}

.filter-list {
    display: flex;
    column-gap: 8px;
    margin-bottom: 50px;
}

.filter-link {
    display: block;
    padding: 6px 22px;
    background-color: var(--background-color-light);
    font-weight: 500;
    font-size: 16px;
    line-height: 1.62;
    letter-spacing: 0.03em;

    text-align: center;
    border-radius: 4px;
    border: none;

    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), color 250ms cubic-bezier(0.4, 0, 0.2, 1), box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);

        &:hover,
        &:focus {
            background-color: var(--accent-color);
            color: var(--color-white);
            box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
        }
}

.filter-link.wider {
    padding-left: 25px;
    padding-right: 25px;
}


.portfolio-samples {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;

    h2 {
            margin-bottom: 4px;
            font-weight: 700;
            font-size: 18px;
            line-height: 2;
            letter-spacing: 0.06em;
    }
}

.sample-card {
    text-decoration: none;
    color: currentColor;
    transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);

    &:hover,
    &:focus {
        display: block;
        box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
    }  

}

.project-thumb {
    position: relative;
    overflow: hidden;
}

.img-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    padding: 63px 24px;
    background-color: rgba(33, 150, 243, 0.9);
    overflow: auto;

    z-index: -1;

    transform: translateY(100%);
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1), z-index 250ms cubic-bezier(0.4, 0, 0.2, 1);

        .sample-card:hover &,
        .sample-card:focus & {
            transform: translateY(0);
            z-index: 1;
    
        }
}

.img-description {
    color: var(--color-white);
    font-size: 18px;
    line-height: 1.56;
}

.sample-description {
    display: flex;
    flex-direction: column;
    padding: 20px 24px;
    border-left: 1px solid var(--portfolio-samples-border-color);
    border-right: 1px solid var(--portfolio-samples-border-color);
    border-bottom: 1px solid var(--portfolio-samples-border-color);
}

.sample-type {
    color: var(--primary-text-color);

    font-size: 16px;
    line-height: 1.88;
}
@media screen and (max-width: 767px) {
    .portfolio-samples {
        .item {
        width: 100%;
        }
    }
    
}

@media screen and (max-width: 1199px) {
.filter-list {
    flex-wrap: wrap;
    row-gap: 15px;
}
}

@media screen and (min-width: 768px) {
.portfolio-samples {
    .item {
        flex-basis: calc((100% - 30px) / 2);
    }
}
}

@media screen and (min-width: 1200px) {
    .filter-list {
        justify-content: center;
    }
    .portfolio-samples {
        .item {
                flex-basis: calc((100% - 60px) / 3);
            }
        }

}







