.form {
    display: flex;
    flex-direction: column;
}

.form__title {
    font-family: 'Roboto';
    font-weight: 700;
    font-size: 20px;
    line-height: 1.15;
    text-align: center;
    color: var(--title-color);

    margin-bottom: 12px;
}

.form__label-name {
    display: block;
    font-weight: 400;
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.01em;

    margin-bottom: 4px;
}

.form__label {
    margin-bottom: 10px;
}

.form__field-wrapper {
    position: relative;
    display: block;
}

.form__input {
    width: 100%;
    height: 40px;
    border: 1px solid rgba(33, 33, 33, 0.2);
    border-radius: 4px;

    padding-left: 42px;

    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);

    &:focus {
        outline: none;
        border-color: var(--accent-color);
    }
}

.form__icon {
    position: absolute;
    top: 50%;
    left: 12px;
    transform: translateY(-50%);

    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
    
        .form__input:focus+&
         {
        fill: var(--accent-color);
    }

}

.form__comment {
    display: block;
    width: 100%;
    height: 120px;
    border: 1px solid rgba(33, 33, 33, 0.2);
    border-radius: 4px;
    resize: none;

    padding: 12px 16px;

    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    &:focus {
            outline: none;
            border-color: var(--accent-color);
        }
}

.form__label_comment {
    margin-bottom: 20px;
}


.form__comment::placeholder {
    color: rgba(117, 117, 117, 0.5);
}

.form__label-checkbox {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 30px;
}

.form__checkbox-wrapper {
    position: relative;
    margin-right: 7px;
    display: flex;
}

.form__check-icon {
    fill: var(--accent-color);
    border-radius: 2px;
    opacity: 0;
    position: absolute;
    top: 0;
    left: 0;
    transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);

    .form__input-check:checked+& {
            opacity: 1;
        }
}

.form__uncheck-icon{
    fill: var(--title-color);
    border: none;
}

  .form__checkbox-link {
      color: var(--accent-color);
  }

.form__button {
    align-self: center;
    padding: 10px 52px;
}

@media screen and (max-width: 1199px) {
        .form__label-checkbox {
            @include font (400, 12px, 14px);
            
        }
}
@media screen and (min-width: 1200px) {
    .form__label-checkbox {
        @include font (400, 14px, 24px);

    }
}

