:root {
    --header-border-color: #ECECEC;
    --portfolio-samples-border-color: #EEEEEE;
    --primary-text-color: #757575;
    --title-color: #212121;
    --accent-color: #2196F3;
    --background-color-hero: #C4C4C4;
    --color-white: #FFFFFF;
    --background-color-light: #F5F4FA;
    --bacground-color-dark: #2F303A;
    --icons-color: #AFB1B8;
    --color-black: #000;
    --button-active-color: #188CE8;
    --footer-contacts-color: rgba(255, 255, 255, 0.6);
}